language: generic

before_install:
  - sh install-powershell.sh
  - sudo apt-get install python3.7
  - pwsh infra/cloudformation/scripts/0_build/install-poetry.ps1
  - source $HOME/.poetry/env
  - poetry install

jobs:
  include:
    - stage: Build and Test Templates
      before_script: cd $TRAVIS_BUILD_DIR
      script: pwsh infra/cloudformation/scripts/0_build/build-cfn-templates.ps1
    - stage: Deploy CloudFormation
      script: skip