language: generic

before_install:
  - sh install-powershell.sh
  - pwsh infra/cloudformation/scripts/0_build/install-poetry.ps1

jobs:
  include:
    - stage: Build and Test Templates
      before_script: cd $TRAVIS_BUILD_DIR
      script: infra/cloudformation/scripts/0_build/build-cfn-templates.ps1
    - stage: Deploy CloudFormation
      script: skip